.nav-publish {
	float: left;
	height: 26px;
	border: 1px solid #dfdfdf;
	width: 52px;
	line-height: 26px;
	padding-left: 28px;
	color: #737373;
	background-color: #fff;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAACaCAYAAACZv3mEAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAOAAAAmgCkdr7pAAABnUlEQVRo3u3YMUsDMRTA8X/aIkWQ4qGTLsVCwVHBQboKgkIV9wOX6ydwqiCCgpN7v0FREYQKhY66iAhOgoPo4mLFRVAonHFIr961vVod1Nb3IMO9vB/kJTeEKK01gdie/kjkLxQhEeGb8fNQ6a0p3XW1r+ffWOp/OA7d/Wn0aI8CBQoUKFCgwJ6GsTY5//2lH65ksaaeOvUb6Pl3ltq85f14HM2huoE91KNAgQIFChQosKdhjINFzc3x19TEAhHuKmCfQSL5OUgkTe1dhQhuDco5WDmC4VQ4Gk6ZmnIO3Fq9x4dLKNmwfAhWuhVZaTNXsk1tYHM8vLQfxFYassUAat1VD2eLBnjoeDWAzK76Y2gMxjOmcGnf5Eq2yb1W4fm+Uar0Tv1GPDgKM2twsg5uDUYm4c2Fp2uIDkBmE8534aXqW2rcCiKAxyuDwORON0xN3KpDFYXZvJnwULvw8GweVBSl9+Y1txXQbnd/jYpCck7ekAUKFChQoECBfx0qx3FC7yuFQiH80TJsshNqLLW56DMEgNa6MRzH0f7vTuMdgdmqbd7/c7AAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTMtMDctMTFUMTc6MDQ6NDErMDg6MDAu70njAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDEzLTA3LTExVDE3OjA0OjQxKzA4OjAwX7LxXwAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAASUVORK5CYII=") no-repeat 9px 8px;
*background: url(images/1.png) no-repeat 9px 8px;;
}